services:
  mariadb:
    image: mariadb
    build: ./requirements/mariadb
    env_file: .env
    volumes:
      - DB:/database
    networks:
      - inception-network
    restart: always
  wordpress:
    image: wordpress
    build: ./requirements/wordpress
    env_file: .env
    volumes:
      - wordpress_files:/www
    networks:
      - inception-network
    restart: always
  nginx:
    image: nginx
    build: ./requirements/nginx
    env_file: .env
    volumes:
      - wordpress_files:/www
    networks:
      - inception-network
    ports:
      - "443:443"
    restart: always
  phpmyadmin:
    image: phpmyadmin
    env_file: .env
    networks:
      - inception-network
    restart: always
volumes:
  DB:
  wordpress_files:
networks:
  inception-network:
    name: inception-network
